.host-list-item {
    background: #dedede;
    padding: 15px 10px;
    border-radius: 5px;
    border: thin solid #d3d3d3;
    margin-bottom: 8px;
}
.host-list-item:last-child {
    margin-bottom: 0;
}
.host-list-item div {
    padding: 0;
}
.host-list-item > div:first-child {
    padding: 0 10px 0 0;
}
.host-list-item > div > div > div {
    padding: 0 5px;
}
.host-list-item > div > div > input:last-child {
    width: 90px !important;
}