.no-margin {
    margin: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-right {
    margin-right: 0;
}

.margin-top {
    margin-top: 5px;
}

.margin-bottom {
    margin-bottom: 5px;
}

.margin-left {
    margin-left: 5px;
}

.margin-right {
    margin-right: 5px;
}
