@import url('task-header.css');

.path-list-item {
    background: #dedede;
    padding: 15px 10px;
    border-radius: 5px;
    border: thin solid #d3d3d3;
    margin-bottom: 8px;
}
.path-list-item:last-child {
    margin-bottom: 0;
}
.path-list-item div {
    padding: 0;
}
.path-list-item > div > div > div {
    padding: 0 5px;
}

#accordion > task > div {
    margin-bottom: 10px;
}