
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.data {
    white-space: pre;
}

.cursor-hover-hand:hover {
    cursor: hand;
    cursor: pointer;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.overflow-sideways {
    overflow-x: scroll;
}

.overflow-bothways {
    overflow: scroll;
}