
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.data {
    white-space: pre;
}

.cursor-hover-hand:hover {
    cursor: hand;
    cursor: pointer;
}