

<h3>{{target.name}}</h3>
<div class="form-group">
    <label for="{{target.name}}-connectionType-{{id}}">Connection Type</label>
    <select id="{{target.name}}-connectionType-{{id}}" class="form-control" ng-model="target.connectionType" ng-options="connectionType as connectionType for connectionType in target.connectionTypes"></select>
    <div ng-switch="target.connectionType" collapse="target.connectionType === ''">
        <div ng-switch-when="default"></div>
        <div ng-switch-when="ssh">
            <label for="{{target.name}}-host-{{id}}" class="margin-top">Host</label>
            <input id="{{target.name}}-host-{{id}}" type="text" class="form-control" placeholder="Host" ng-model="target.host">
            <label for="{{target.name}}-username-{{id}}" class="margin-top">Username</label>
            <input id="{{target.name}}-username-{{id}}" type="text" class="form-control" placeholder="Username" ng-model="target.username">
            <label for="{{target.name}}-password-{{id}}" class="margin-top">Password</label>
            <input id="{{target.name}}-password-{{id}}" type="password" class="form-control" placeholder="Password" ng-model="target.password">
        </div>
    </div>
</div>

