

<h3>{{target.name}}</h3>
<label for="{{target.name}}-connectionType-{{id}}">Connection Type</label>
<select id="{{target.name}}-connectionType-{{id}}" class="form-control" ng-model="target.connectionType" ng-options="connectionType as connectionType for connectionType in target.connectionTypes"></select>
<div ng-switch="target.connectionType" collapse="target.connectionType === ''">
    <div ng-switch-when="default"></div>
    <div ng-switch-when="ssh">
        <input type="text" class="form-control" placeholder="Host" ng-model="target.host">
        <input type="text" class="form-control" placeholder="Username" ng-model="target.username">
    </div>
</div>

