

<div class="path-elements hide-scrollbar scroll-horizontal">
    <div class="crumb">
        <a ng-repeat="dir in dirs" href="#" ng-click="goBack(dir)">{{dir.text}}</a>
    </div>
</div>
<div style="max-height: 300px; border-radius: 0 0 5px 5px;  border-bottom: 1px solid #d3d3d3;" class="list-group scroll-both">
    <a ng-repeat="child in children" class="list-group-item cursor-hover-hand" ng-hide="!child.visible" ng-class="{'disabled': child.disabled}" ng-click="getChildren(child)" ng-switch="child.type">
        <span ng-switch-when="directory" class="glyphicon glyphicon-folder-close"></span>
        <span ng-switch-when="file" class="glyphicon glyphicon-file"></span>
        {{child.text}}
    </a>
</div>

