

<li class="clearfix host-list-item">

    <!--INPUTS-->
    <div class="col-xs-3">

        <!--ALIAS-->
        <input name="alias" type="text" class="form-control" placeholder="Alias" ng-model="host.alias">

    </div>
    <div class="col-xs-7">
        <div class="input-group">

            <!--USERNAME-->
            <input name="username" type="text" class="form-control" placeholder="Username" ng-model="host.username"/>
            <div class="input-group-addon">@</div>

            <!--HOSTNAME / IP ADDRESS-->
            <input name="host" type="text" class="form-control" placeholder="Host" ng-model="host.host"/>
            <div class="input-group-addon">:</div>

            <!--PORT (OPTIONAL)-->
            <input name="port" type="number" class="form-control" placeholder="Port" ng-model="host.port"/>

        </div>
    </div>

    <!--BUTTONS / ACTIONS-->
    <div class="col-xs-2">

        <div class="btn-group pull-right">

            <!--COPY SSH ID BUTTON-->
            <button class="btn btn-primary" title="Upload SSH RSA Key"><span class="glyphicon glyphicon-upload"></span> SSH</button>

            <!--DELETE HOST BUTTON-->
            <button class="btn btn-danger" title="Remove Host" ng-click="removeHost()"><span class="glyphicon glyphicon-trash"></span></button>

        </div>

    </div>
</li>

