

<li class="clearfix host-list-item">

    <!--INPUTS-->
    <div class="col-xs-3">

        <!--ALIAS-->
        <input name="alias" type="text" class="form-control" placeholder="Alias" ng-model="host.alias">

    </div>
    <div class="col-xs-7">
        <div class="input-group">

            <!--USERNAME-->
            <input name="username" type="text" class="form-control" placeholder="Username" ng-model="host.username"/>
            <div class="input-group-addon">@</div>

            <!--HOSTNAME / IP ADDRESS-->
            <input name="host" type="text" class="form-control" placeholder="Host" ng-model="host.host"/>
            <div class="input-group-addon">:</div>

            <!--PORT (OPTIONAL)-->
            <input name="port" type="number" class="form-control" placeholder="Port" ng-model="host.port"/>

        </div>
    </div>

    <!--BUTTONS / ACTIONS-->
    <div class="col-xs-2">

        <div class="btn-group pull-right">

            <!--COPY SSH ID BUTTON-->
            <button class="btn btn-primary" data-placement="right" data-toggle="popover" data-container="body" data-html="true">
                <span class="glyphicon glyphicon-upload"></span> SSH</button>
            <div id="popover-content" class="hide" ng-controller="PassPopCtrl">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" placeholder="Password" class="form-control" ng-model="pw">
                            <span class="btn input-group-addon" ng-click="sshCopyId(pw)"><i class="glyphicon glyphicon-flash" ></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <!--DELETE HOST BUTTON-->
            <button class="btn btn-danger" title="Remove Host" ng-click="removeHost()" ng-class="{disabled: isLastAndBlank()}"><span class="glyphicon glyphicon-trash"></span></button>

        </div>

    </div>
</li>

