

<li class="clearfix host-list-item">

    <!--INPUTS-->
    <div class="col-md-3 col-sm-3 col-xs-12">

        <!--ALIAS-->
        <input name="alias" type="text" class="form-control" placeholder="Alias" ng-model="host.alias">

    </div>
    <div class="col-md-7 col-sm-6 col-xs-12">
        <div class="input-group">

            <!--USERNAME-->
            <input name="username" type="text" class="form-control" placeholder="Username" ng-model="host.username"/>
            <div class="input-group-addon">@</div>

            <!--HOSTNAME / IP ADDRESS-->
            <input name="host" type="text" class="form-control" placeholder="Host" ng-model="host.host"/>
            <div class="input-group-addon">:</div>

            <!--PORT (OPTIONAL)-->
            <input name="port" type="number" class="form-control" placeholder="Port" ng-model="host.port"/>

        </div>
    </div>

    <!--BUTTONS / ACTIONS-->
    <div class="col-md-2 col-sm-3 col-xs-12">

        <div class="btn-group btn-group-justified pull-right" role="group">

            <!--COPY SSH ID BUTTON-->
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" title="Copy ssh id to target host." ng-click="showSshCopyIdModal()" ng-class="{disabled: isLastAndBlank()}"><span class="glyphicon glyphicon-upload"></span> SSH</button>
            </div>

            <!--DELETE HOST BUTTON-->
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger" title="Remove Host" ng-click="removeHost()" ng-class="{disabled: isLastAndBlank()}"><span class="glyphicon glyphicon-trash"></span></button>
            </div>

        </div>

    </div>
</li>

