

<li class="clearfix path-list-item">

    <!--INPUTS-->
    <div class="col-sm-10 col-xs-12">
        <div class="input-group">

            <input type="text" class="form-control" placeholder="Source" ng-model="path.source"/>
            <div class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></div>
            <input type="text" class="form-control" placeholder="Destination" ng-model="path.destination"/>

        </div>
    </div>

    <!--BUTTONS / ACTIONS-->
    <div class="col-sm-2 col-xs-12">

        <div class="btn-group btn-group-justified" role="group">

            <!--TOGGLE FILE BROWSER-->
            <!--<button class="btn btn-primary" title="Browse files" ng-click="browse()"><span class="glyphicon glyphicon-folder-open"></span></button>-->

            <!--CLONE PATH BUTTON-->
            <div class="btn-group" role="group"><button type="button" class="btn btn-success" title="Clone path" ng-click="clonePath()" ng-class="{disabled: isBlank()}"><span class="fa fa-files-o"></span></button></div>

            <!--DELETE PATH BUTTON-->
            <div class="btn-group" role="group"><button type="button" class="btn btn-danger" title="Remove Path" ng-click="removePath()" ng-class="{disabled: isBlankAndLast()}"><span class="glyphicon glyphicon-trash"></span></button></div>

        </div>

    </div>

</li>

