
<!--TASK-->
<div class="panel panel-default">

    <!--TASK HEADER-->
    <task-header></task-header>

    <!--<div id="collapse-{{task.id}}" class="panel-collapse collapse">-->
    <div id="collapse-{{task.id}}" class="panel-collapse collapse">

        <!--TASK BODY-->
        <div class="panel-body">

            <!--TASK NAME-->
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" ng-model="task.name">
            </div>

            <!--TASK - SOURCE - DESTINATION-->
            <div class="form-group clearfix">
                <div class="col-xs-6 no-padding-left">
                    <label for="target-{{task.id}}">Source</label>
                    <select id="target-{{task.id}}" ng-model="task.source.host" ng-options="host.id as host.alias for host in hosts" class="form-control">
                        <option value="">Localhost</option>
                    </select>
                </div>
                <div class="col-xs-6 no-padding-right">
                    <label for="destination-{{task.id}}">Destination</label>
                    <select id="destination-{{task.id}}" ng-model="task.destination.host" ng-options="host.id as host.alias for host in hosts" class="form-control">
                        <option value="">Localhost</option>
                    </select>
                </div>
            </div>

            <!--TASK PATHS LIST-->
            <div class="form-group">
                <ul class="well well-sm list-unstyled">
                    <path ng-repeat="path in task.paths" task="task" path="path"></path>
                </ul>
            </div>

            <!--TASK FLAG SELECTOR-->
            <div class="form-group">
                <label>Flags</label>
                <div class="clearfix"></div>
                <button type="button" class="btn btn-info btn-xs margin-bottom margin-right" title="{{flag.tooltip}}"
                        ng-repeat="flag in flags" ng-click="task.toggleFlag(flag)" ng-class="{active: task.hasFlag(flag)}">
                    {{flag.name}}
                </button>
            </div>

            <!--TASK LOG PANEL-->
            <log-panel panel-header="Log" log-entries="log" ></log-panel>

        </div>

        <!--TASK FOOTER-->
        <task-footer></task-footer>
    </div>
</div>

