

<div class="panel panel-default" ng-controller="TaskCtrl">
    <task-header></task-header>
    <!--<div id="collapse-{{task.id}}" class="panel-collapse collapse">-->
    <div id="collapse-{{task.id}}" class="panel-collapse">
        <div class="panel-body">

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" ng-model="task.name">
            </div>

            <!-- File Explorer -->
            <div class="well well-sm clearfix">
                <div class="form-group clearfix">
                    <connection-details task="task" target="task.source" class="col-xs-6"></connection-details>
                    <connection-details task="task" target="task.destination" class="col-xs-6"></connection-details>
                </div>
                <div class="form-group clearfix">
                    <div style="padding-left: 15px; padding-right: 15px;">
                        <div class="paths">
                            <div class="path" ng-repeat="path in task.paths">
                                <div class="pathElement">{{path.source}}</div>
                                <button class="btn btn-danger btn-xs" ng-click="task.removePath(path)">
                                    <span class="glyphicon glyphicon-remove-sign"/>
                                </button>
                                <div class="pathElement">{{path.destination}}</div>
                            </div>
                        </div>
                    </div>
                    <dir-navigator target="task.source" class="col-xs-6"></dir-navigator>
                    <dir-navigator target="task.destination" class="col-xs-6"></dir-navigator>
                </div>
            </div>

            <!-- Flag Selector -->
            <div class="form-group">
                <label>Flags</label>
                <div class="clearfix"></div>
                <button type="button" class="btn btn-info btn-xs margin-bot margin-right" title="{{flag.tooltip}}"
                        ng-repeat="flag in flags" ng-click="task.toggleFlag(flag)" ng-class="{active: task.hasFlag(flag)}">
                    {{flag.name}}
                </button>
            </div>

            <log-panel panel-header="Log" log-entries="log" />

        </div>
        <task-footer></task-footer>
    </div>
</div>

